# For analysis
numpy
matplotlib
pandas
bokeh
# For the site
sphinx<5
sphinx_panels
myst-nb<0.14
ghp-import
pydata-sphinx-theme
jupytext
# UNDO ME: everything below is hacks for netlify
markdown-it-py<2.0.0
